*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(IMG_0935.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
} 
.main-nav
{
    /* float: right;
    list-style: none;
    margin-top: 30px; */

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30%;
    /* padding-left: 30%; */
}
.main-nav li
{
    display: inline-block;
}
.main-nav li a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}
.logo img
{
    width: 100px;
    height: auto;
    float: left;
}
body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}
.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    
}
